html, body {
    min-height: 100%;
    height: 100%;
}

body {
    position: relative;
    height: auto;
    padding-bottom: $contentPadding;
}

.sidebar {
    width: $sidebarWidth;
    position: absolute;
    left: 0;
    top: 0;
    min-height: 100%;
}

.content, nav {
    max-width: 960px;
}
