$modColor: #809fc7;
$modColorLight: #afc6e4;
$modColorDark: #4d76ae;
$structColor: #e53700;
$structColorLight: #e7b1a0;
$structColorDark: #e53700;
$enumColor: #93bc99;
$enumColorLight: #b4d1b9;
$enumColorDark: #5e9766;
$traitColor: #fcae2b;
$traitColorLight: #fece7e;
$traitColorDark: #ed9603;
$fnColor: #a2777f;
$fnColorLight: #c6afb3;
$fnColorDark: #8c6067;

$edgeColor: #bfbfbf;
$sidebarBgColor: #e9e9e9;
$contentBgColor: #f3f3f3;

$menuFont: 700 26px "Oswald", Arial, sans-serif;
$menuSeparator: 23px;
$submenuFont: 700 16px "Oswald", Arial, sans-serif;
$titleFont: 700 22px "Oswald", Arial, sans-serif;
$subtitleFont: 700 16px "Oswald", Arial, sans-serif;
$contentFont: 13px Arial, sans-serif;
$codeFont: 15px "Inconsolata", "Consolas", "Courier New", monospace;

$sidebarWidth: 200px;
$sidebarPadding: 10px;
$contentPadding: 20px;
