#[link(name = "std",
       vers = "0.1",
       uuid = "122bed0b-c19b-4b82-b0b7-7ae8aead7297",
       url = "http://rust-lang.org/src/std")];

#[comment = "The Rust standard library"];
#[license = "BSD"];


export box, char, float, int, str, ptr, uint, u8, u32, u64, vec;
export aio, comm, fs, io, net, run, sio, sys, task;
export ctypes, either, option, result, util;
export bitv, deque, fun_treemap, list, map, smallintmap, sort, treemap, ufind;
export rope;
export ebml, dbg, getopts, math, rand, sha1, term, time, unsafe;
export extfmt, test;
// FIXME: generic_os and os_fs shouldn't be exported
export generic_os, os, os_fs;


// Built-in types support modules

mod box;
mod char;
mod float;
mod int;
mod str;
mod ptr;
mod uint;
mod u8;
mod u32;
mod u64;
mod vec;


// General io and system-services modules

mod aio;
mod comm;
mod fs;
mod io;
mod net;
mod run = "run_program.rs";
mod sio;
mod sys;
mod task;


// Utility modules

mod ctypes;
mod either;
mod option;
mod result;
mod util;


// Collections

mod bitv;
mod deque;
mod fun_treemap;
mod list;
mod map;
mod rope;
mod smallintmap;
mod sort;
mod treemap;
mod ufind;


// And ... other stuff

mod ebml;
mod dbg;
mod getopts;
mod math;
mod rand;
mod sha1;
mod term;
mod time;
mod unsafe;

#[cfg(unicode)]
mod unicode;


// Compiler support modules

mod extfmt;
mod test;


// Target-os module.

// TODO: Have each os module re-export everything from genericos.
mod generic_os;

#[cfg(target_os = "win32")]
mod os = "win32_os.rs";
#[cfg(target_os = "win32")]
mod os_fs = "win32_fs.rs";

#[cfg(target_os = "macos")]
mod os = "macos_os.rs";
#[cfg(target_os = "macos")]
mod os_fs = "posix_fs.rs";

#[cfg(target_os = "linux")]
mod os = "linux_os.rs";
#[cfg(target_os = "linux")]
mod os_fs = "posix_fs.rs";


// FIXME: This doesn't do anything.
// Authorize various rule-bendings.

auth io = unsafe;
auth fs = unsafe;
auth os_fs = unsafe;
auth run = unsafe;
auth str = unsafe;
auth vec = unsafe;
auth task = unsafe;

auth dbg = unsafe;

auth uint::next_power_of_two = unsafe;
auth map::mk_hashmap = unsafe;
auth rand::mk_rng = unsafe;


// Local Variables:
// mode: rust;
// fill-column: 78;
// indent-tabs-mode: nil
// c-basic-offset: 4
// buffer-file-coding-system: utf-8-unix
// compile-command: "make -k -C .. 2>&1 | sed -e 's/\\/x\\//x:\\//g'";
// End:
