#[link(name = "std",
       vers = "0.4",
       uuid = "122bed0b-c19b-4b82-b0b7-7ae8aead7297",
       url = "https://github.com/mozilla/rust/tree/master/src/libstd")];

#[comment = "The Rust standard library"];
#[license = "MIT"];
#[crate_type = "lib"];
//! The Rust standard library

#[no_core];

#[allow(vecs_implicitly_copyable)];
// XXX: deny after snapshot
#[warn(non_camel_case_types)];

use core(vers = "0.4");
import core::*;

export net, net_tcp, net_ip, net_url;
export uv, uv_ll, uv_iotask, uv_global_loop;
export c_vec, timer;
export sync, arc, comm;
export bitv, deque, fun_treemap, list, map;
export smallintmap, sort, treemap;
export rope, arena, par;
export ebml, dbg, getopts, json, rand, sha1, term, time, prettyprint;
export test, tempfile, serialization;
export cmp;
export base64;
export cell;

// General io and system-services modules

mod net;
mod net_ip;
mod net_tcp;
mod net_url;

// libuv modules
mod uv;
mod uv_ll;
mod uv_iotask;
mod uv_global_loop;


// Utility modules

mod c_vec;
mod timer;
mod cell;

// Concurrency

mod sync;
mod arc;
mod comm;

// Collections

mod bitv;
mod deque;
mod fun_treemap;
#[allow(non_camel_case_types)] // XXX
mod list;
#[allow(non_camel_case_types)] // XXX
mod map;
#[allow(non_camel_case_types)] // XXX
mod rope;
#[allow(non_camel_case_types)] // XXX
mod smallintmap;
#[allow(non_camel_case_types)] // XXX
mod sort;
#[allow(non_camel_case_types)] // XXX
mod treemap;

// And ... other stuff

mod ebml;
mod dbg;
mod getopts;
mod json;
mod sha1;
mod md4;
mod tempfile;
mod term;
mod time;
mod prettyprint;
mod arena;
mod par;
mod cmp;
mod base64;

#[cfg(unicode)]
mod unicode;


// Compiler support modules

#[allow(non_camel_case_types)] // XXX
mod test;
#[allow(non_camel_case_types)] // XXX
mod serialization;

// Local Variables:
// mode: rust;
// fill-column: 78;
// indent-tabs-mode: nil
// c-basic-offset: 4
// buffer-file-coding-system: utf-8-unix
// End:
