#[link(name = "std",
       vers = "0.4",
       uuid = "122bed0b-c19b-4b82-b0b7-7ae8aead7297",
       url = "https://github.com/mozilla/rust/tree/master/src/libstd")];

#[comment = "The Rust standard library"];
#[license = "MIT"];
#[crate_type = "lib"];
//! The Rust standard library

#[no_core];

#[allow(vecs_implicitly_copyable)];

use core(vers = "0.4");
import core::*;

export net, net_tcp, net_ip, net_url;
export uv, uv_ll, uv_iotask, uv_global_loop;
export c_vec, timer;
export sync, arc, comm;
export bitv, deque, fun_treemap, list, map;
export smallintmap, sort, treemap;
export rope, arena, par;
export ebml, dbg, getopts, json, rand, sha1, term, time, prettyprint;
export test, tempfile, serialization;
export cmp;
export base64;
export cell;

// General io and system-services modules

#[warn(non_camel_case_types)]
mod net;
#[warn(non_camel_case_types)]
mod net_ip;
#[warn(non_camel_case_types)]
mod net_tcp;
#[warn(non_camel_case_types)]
mod net_url;

// libuv modules
#[warn(non_camel_case_types)]
mod uv;
mod uv_ll;
#[warn(non_camel_case_types)]
mod uv_iotask;
#[warn(non_camel_case_types)]
mod uv_global_loop;


// Utility modules

#[warn(non_camel_case_types)]
mod c_vec;
#[warn(non_camel_case_types)]
mod timer;
#[warn(non_camel_case_types)]
mod cell;

// Concurrency

#[warn(non_camel_case_types)]
mod sync;
#[warn(non_camel_case_types)]
mod arc;
#[warn(non_camel_case_types)]
mod comm;

// Collections

mod bitv;
mod deque;
mod fun_treemap;
mod list;
mod map;
mod rope;
mod smallintmap;
mod sort;
mod treemap;

// And ... other stuff

#[warn(non_camel_case_types)]
mod ebml;
#[warn(non_camel_case_types)]
mod dbg;
#[warn(non_camel_case_types)]
mod getopts;
#[warn(non_camel_case_types)]
mod json;
#[warn(non_camel_case_types)]
mod sha1;
#[warn(non_camel_case_types)]
mod md4;
#[warn(non_camel_case_types)]
mod tempfile;
#[warn(non_camel_case_types)]
mod term;
#[warn(non_camel_case_types)]
mod time;
#[warn(non_camel_case_types)]
mod prettyprint;
#[warn(non_camel_case_types)]
mod arena;
#[warn(non_camel_case_types)]
mod par;
#[warn(non_camel_case_types)]
mod cmp;
#[warn(non_camel_case_types)]
mod base64;

#[cfg(unicode)]
mod unicode;


// Compiler support modules

mod test;
mod serialization;

// Local Variables:
// mode: rust;
// fill-column: 78;
// indent-tabs-mode: nil
// c-basic-offset: 4
// buffer-file-coding-system: utf-8-unix
// End:
