# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# editorconfig.org

root = true

[*]
end_of_line = lf
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.css]
indent_style = tab

# some tests need trailing whitespace in output snapshots
[tests/**]
trim_trailing_whitespace = false
# for actual source code files of test, we still don't want trailing whitespace
[tests/**.{rs,js}]
trim_trailing_whitespace = true
# these specific source files need to have trailing whitespace.
[tests/ui/{frontmatter/{fence-whitespace-trailing-1.rs,frontmatter-whitespace-3.rs},parser/shebang/shebang-space.rs}]
trim_trailing_whitespace = false
# these specific files have an UTF-8 BOM to test with that charset
[tests/ui/codemap_tests/utf8-bom.rs]
charset = utf-8-bom
# these specific files have CRLF line endings to test on them
[tests/{rustdoc-ui/intra-doc/warning-crlf.rs,ui/{frontmatter/frontmatter-crlf.rs,lexer/lexer-crlf-*.rs}}]
end_of_line = crlf
# these specific files have an UTF-8 BOM and CRLF line endings to test on these
[tests/ui/{include-macros/data.bin,json/json-bom-plus-crlf*.rs}]
charset = utf-8-bom
end_of_line = crlf

[src/llvm-project]
indent_style = unset
indent_size = unset

[*.rs]
max_line_length = 100

[*.md]
# double whitespace at end of line
# denotes a line break in Markdown
trim_trailing_whitespace = false
# Markdown has heavily context specific indentations.
# For example, the indentation in lists depend on the length of the list marker
# (such as '- ' or '100. '), at least in the GitHub Markdown flavor:
# https://docs.github.com/en/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax#nested-lists
# Therefore, pressing tab should insert a single space to encourage situative accurate indentations.
indent_size = 1

[*.{json,json5,yml,yaml,natvis,nix}]
indent_size = 2

# You should NOT modify these files with your editor,
# but if you do it anyway use the correct formatting.
[Cargo.lock]
indent_size = 1
[yarn.lock]
indent_size = 2

[Makefile]
indent_style = tab

# The license texts should NEVER be modified.
# Therefore disable everything to avoid accidental changes on save.
[**{LICENSE,COPY{ING,RIGHT}}**]
charset = unset
indent_style = unset
indent_size = unset
tab_width = unset
trim_trailing_whitespace = unset
insert_final_newline = unset
spelling_language = unset
