[submodule "src/llvm"]
	path = src/llvm
	url = https://github.com/rust-lang/llvm.git
	branch = master
[submodule "src/compiler-rt"]
	path = src/compiler-rt
	url = https://github.com/rust-lang/compiler-rt.git
[submodule "src/rt/hoedown"]
	path = src/rt/hoedown
	url = https://github.com/rust-lang/hoedown.git
[submodule "src/jemalloc"]
	path = src/jemalloc
	url = https://github.com/rust-lang/jemalloc.git
[submodule "src/rust-installer"]
	path = src/rust-installer
	url = https://github.com/rust-lang/rust-installer
[submodule "src/liblibc"]
	path = src/liblibc
	url = https://github.com/rust-lang/libc
