[attr]rust text eol=lf whitespace=tab-in-indent,trailing-space,tabwidth=4

* text=auto
*.cpp rust
*.h rust
*.rs rust
src/rt/msvc/* -whitespace
src/rt/vg/* -whitespace
src/rt/linenoise/* -whitespace
src/rt/jemalloc/**/* -whitespace
src/rt/jemalloc/include/jemalloc/jemalloc.h.in text eol=lf
src/rt/jemalloc/include/jemalloc/jemalloc_defs.h.in text eol=lf
src/rt/jemalloc/include/jemalloc/internal/jemalloc_internal.h.in text eol=lf
