*~
\#*\#
\#*
.#*
*.x86
*.llvm
*.out
*.boot
*.rustc
*.cmx
*.dll
*.def
*.exe
*.a
*.rlib
*.so
*.dylib
*.orig
*.cmo
*.cmi
*.dSYM
*.d
*.o
*.ll
*.bc
*.aux
*.cp
*.fn
*.ky
*.cps
*.log
*.pdf
*.html
*.pg
*.toc
*.tp
*.vr
*.patch
*.diff
*.rej
*.swp
*.tmp
*.pyc
.hg/
.hgignore
.cproject
.project
.valgrindrc
lexer.ml
rustboot
rustc
TAGS
version.ml
version.texi
/Makefile
config.mk
/rt/
/rustllvm/
/test/
/build/
/inst/
/mingw-build/
src/.DS_Store
/stage0/
/dl/
/stage1/
/stage2/
/stage3/
*.bz2
/doc/html
/doc/latex
/doc/std
/nd/
/llvm/
