Grammar(
    syntax_kinds: [
        "ERROR",
        "IDENT",
        "UNDERSCORE",
        "WHITESPACE",
        "INT_NUMBER",
        "FLOAT_NUMBER",
        "SEMI",
        "COMMA",
        "DOT",
        "DOTDOT",
        "DOTDOTDOT",
        "DOTDOTEQ",
        "L_PAREN",
        "R_PAREN",
        "L_CURLY",
        "R_CURLY",
        "L_BRACK",
        "R_BRACK",
        "AT",
        "POUND",
        "TILDE",
        "QUESTION",
        "COLON",
        "COLONCOLON",
        "DOLLAR",
        "EQ",
        "EQEQ",
        "FAT_ARROW",
        "NEQ",
        "NOT",
    ]
)