// xfail-win32 don't understand what's wrong
// Test that crates and directory modules can contain code

#[path = "companionmod-src"]
mod a {
    mod b {
        mod x;
    }
    #[path = "d"]
    mod c {
        mod x;
    }
}
