
#[path = "module-polymorphism4-files"]
mod cat {

    use inst::*;

    #[path = "cat.rs"]
    mod inst;

    #[path = "trait_.rs"]
    mod trait_;

}

#[path = "module-polymorphism4-files"]
mod dog {

    use inst::*;

    #[path = "dog.rs"]
    mod inst;

    #[path = "trait_.rs"]
    mod trait_;

}
