#[path = "module-polymorphism2-files"]
mod mystd {

    #[path = "float-template"]
    mod float {
        // The type of the float
        use inst::T;

        // Unfortunate
        use template::*;
        export plus;

        // Define T as float
        #[path = "inst_float.rs"]
        mod inst;

        // Add in the implementation from a single source file
        #[path = "template.rs"]
        mod template;
    }


    #[path = "float-template"]
    mod f64 {

        use inst::T;

        // Unfortunate
        use template::*;
        export plus;

        // Define T as f64
        #[path = "inst_f64.rs"]
        mod inst;

        // Use the implementation for the same source file!
        #[path = "template.rs"]
        mod template;

    }

    #[path = "float-template"]
    mod f32 {
        use inst::T;

        // Unfortunate
        use template::*;
        export plus;

        #[path = "inst_f32.rs"]
        mod inst;

        #[path = "template.rs"]
        mod template;

    }

}