
#[path = "module-polymorphism4-files"]
mod cat {
    #[legacy_exports];

    use inst::*;

    #[path = "cat.rs"]
    #[legacy_exports]
    mod inst;

    #[path = "trait_.rs"]
    #[legacy_exports]
    mod trait_;

}

#[path = "module-polymorphism4-files"]
mod dog {
    #[legacy_exports];

    use inst::*;

    #[path = "dog.rs"]
    #[legacy_exports]
    mod inst;

    #[path = "trait_.rs"]
    #[legacy_exports]
    mod trait_;

}
