// xfail-stage0
// xfail-stage1
// xfail-stage2
// xfail-stage3
// -*- rust -*-

native mod libc = target_libc {
  fn open(int name, int flags, int mode) -> int;
  fn close(int fd) -> int;
  fn read(int fd, int buf, int count) -> int;
  fn write(int fd, int buf, int count) -> int;
  fn malloc(int sz) -> int;
  fn free(int p) -> ();
}

native "rust" mod rustrt {
  fn str_buf(str s) -> int;
}

mod inner = "native-mod-src/inner.rs";
