// xfail-stage0
// xfail-stage1
// xfail-stage2
// xfail-stage3
// -*- rust -*-

native "rust" mod rustrt {
  fn str_buf(str s) -> int;
}


native mod libc = target_libc {
  fn puts(int s) -> ();
}

mod user = "native-src/native.rs";
