#[doc = "Rustdoc - The Rust documentation generator"];

#[link(name = "rustdoc",
       vers = "0.1",
       uuid = "f8abd014-b281-484d-a0c3-26e3de8e2412",
       url = "http://rust-lang.org/doc/rustdoc")];

#[comment = "The Rust documentation generator"];
#[license = "MIT"];
#[crate_type = "bin"];

use std;
use rustc;

mod parse;
mod extract;
mod attr_parser;
mod doc;
mod gen;
mod fold;
mod path_pass;
mod attr_pass;
mod tystr_pass;
mod prune_undoc_pass;
mod prune_unexported_pass;
mod desc_to_brief_pass;
mod trim_pass;
mod astsrv;
