// Copyright 2012 The Rust Project Developers. See the COPYRIGHT
// file at the top-level directory of this distribution and at
// http://rust-lang.org/COPYRIGHT.
//
// Licensed under the Apache License, Version 2.0 <LICENSE-APACHE or
// http://www.apache.org/licenses/LICENSE-2.0> or the MIT license
// <LICENSE-MIT or http://opensource.org/licenses/MIT>, at your
// option. This file may not be copied, modified, or distributed
// except according to those terms.

#[link(name = "syntax",
       vers = "0.6",
       uuid = "9311401b-d6ea-4cd9-a1d9-61f89499c645")];



#[crate_type = "lib"];

#[legacy_modes];
#[legacy_exports];

#[allow(vecs_implicitly_copyable)];
#[allow(non_camel_case_types)];
#[allow(deprecated_mode)];
#[warn(deprecated_pattern)];

#[no_core];

extern mod core(vers = "0.6");
use core::*;

extern mod std(vers = "0.6");

pub mod syntax {
    pub use ext;
    pub use parse;
}

#[legacy_exports]
mod attr;
#[legacy_exports]
mod diagnostic;
mod codemap;
#[legacy_exports]
mod ast;
#[legacy_exports]
mod ast_util;
#[legacy_exports]
mod ast_map;
#[legacy_exports]
mod visit;
#[legacy_exports]
mod fold;
#[legacy_exports]
mod util {
    #[legacy_exports];
    #[legacy_exports]
    #[path = "interner.rs"]
    mod interner;
}

#[path = "parse/mod.rs"]
mod parse;

mod print {
    #[legacy_exports];
    #[legacy_exports]
    mod pp;
    #[legacy_exports]
    mod pprust;
}

mod ext {
    #[legacy_exports];
    #[legacy_exports]
    mod base;
    #[legacy_exports]
    mod expand;

    mod quote;
    mod deriving;

    #[legacy_exports]
    mod build;

    mod tt {
        #[legacy_exports];
        #[legacy_exports]
        mod transcribe;
        #[legacy_exports]
        mod macro_parser;
        #[legacy_exports]
        mod macro_rules;
    }


    #[legacy_exports]
    mod fmt;
    #[legacy_exports]
    mod env;
    #[legacy_exports]
    mod concat_idents;
    #[legacy_exports]
    mod log_syntax;
    #[legacy_exports]
    mod auto_encode;
    #[legacy_exports]
    mod source_util;

    #[legacy_exports]
    #[path = "pipes/mod.rs"]
    mod pipes;

    #[legacy_exports]
    mod trace_macros;
}
