// Copyright 2012 The Rust Project Developers. See the COPYRIGHT
// file at the top-level directory of this distribution and at
// http://rust-lang.org/COPYRIGHT.
//
// Licensed under the Apache License, Version 2.0 <LICENSE-APACHE or
// http://www.apache.org/licenses/LICENSE-2.0> or the MIT license
// <LICENSE-MIT or http://opensource.org/licenses/MIT>, at your
// option. This file may not be copied, modified, or distributed
// except according to those terms.

#[link(name = "syntax",
       vers = "0.5",
       uuid = "9311401b-d6ea-4cd9-a1d9-61f89499c645")];



#[crate_type = "lib"];

#[no_core];

#[legacy_modes];
#[legacy_exports];

#[allow(vecs_implicitly_copyable)];
#[allow(non_camel_case_types)];
#[allow(deprecated_mode)];
#[allow(deprecated_pattern)];

extern mod core(vers = "0.5");
extern mod std(vers = "0.5");

use core::*;

#[legacy_exports]
mod attr;
#[legacy_exports]
mod diagnostic;
mod codemap;
#[legacy_exports]
mod ast;
#[legacy_exports]
mod ast_util;
#[legacy_exports]
mod ast_map;
#[legacy_exports]
mod visit;
#[legacy_exports]
mod fold;
#[legacy_exports]
mod util {
    #[legacy_exports];
    #[legacy_exports]
    #[path = "util/interner.rs"]
    mod interner;
}

#[path = "parse/mod.rs"]
mod parse;

mod print {
    #[legacy_exports];
    #[legacy_exports]
    #[path = "print/pp.rs"]
    mod pp;
    #[legacy_exports]
    #[path = "print/pprust.rs"]
    mod pprust;
}

mod ext {
    #[legacy_exports];
    #[legacy_exports]
    #[path = "ext/base.rs"]
    mod base;
    #[legacy_exports]
    #[path = "ext/expand.rs"]
    mod expand;
    #[legacy_exports]
    #[path = "ext/qquote.rs"]
    mod qquote;

    #[path = "ext/quote.rs"]
    mod quote;
    #[path = "ext/deriving.rs"]
    mod deriving;

    #[legacy_exports]
    #[path = "ext/build.rs"]
    mod build;

    mod tt {
        #[legacy_exports];
        #[legacy_exports]
        #[path = "ext/tt/transcribe.rs"]
        mod transcribe;
        #[legacy_exports]
        #[path = "ext/tt/macro_parser.rs"]
        mod macro_parser;
        #[legacy_exports]
        #[path = "ext/tt/macro_rules.rs"]
        mod macro_rules;
    }


    #[legacy_exports]
    #[path = "ext/simplext.rs"]
    mod simplext;
    #[legacy_exports]
    #[path = "ext/fmt.rs"]
    mod fmt;
    #[legacy_exports]
    #[path = "ext/env.rs"]
    mod env;
    #[legacy_exports]
    #[path = "ext/concat_idents.rs"]
    mod concat_idents;
    #[legacy_exports]
    #[path = "ext/ident_to_str.rs"]
    mod ident_to_str;
    #[legacy_exports]
    #[path = "ext/log_syntax.rs"]
    mod log_syntax;
    #[legacy_exports]
    #[path = "ext/auto_serialize.rs"]
    mod auto_serialize;
    #[legacy_exports]
    #[path = "ext/source_util.rs"]
    mod source_util;

    #[legacy_exports]
    #[path = "ext/pipes/mod.rs"]
    mod pipes;

    #[legacy_exports]
    #[path = "ext/trace_macros.rs"]
    mod trace_macros;
}
