body {
  padding: 1em;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

body {
  padding: 1em 6em;
  max-width: 50em;
}

h1 { font-size: 22pt; }
h2 { font-size: 17pt; }
h3 { font-size: 14pt; }

pre {
  margin: 1.1em 0;
  padding: .4em .4em .4em 1em;
  font-size: 120%;
}

a, a:visited, a:link {
  text-decoration: none;
  color: #00438a;
}
