body {
    padding: 1em 6em;
    margin: 0;
    margin-bottom: 4em;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12pt;
    background-color: white;
    color: black;
    line-height: 1.6em;
    min-width: 45em;
    max-width: 60em;
}

h1 {
    font-size: 24pt;
    margin-top: 1.6em;
    padding-left: 0.4em;
    line-height: 1.6em;
    background-color:#FFF2CE;
    border-radius: 0.2em;
}

h2 {
    font-size: 16pt;
    margin-top: 1.6em;
    padding: 0.2em 0.5em;
    background-color:#FFF2CE;
    border-radius: 0.4em;
}

h2 code {
    color: #097334;
    font-size: 16pt;
}

h3 {
    font-size: 14pt;
    color: black;
    background-color:#D9E7FF;
    border-radius: 0.4em;
    padding: 0.2em 0.5em;
}

h3 code {
    color: #541800;
    font-size: 14pt;
    font-style: italic;
}

h4 {
    font-size: 11pt;
    margin-top: 0em;
    margin-bottom: 0em;
}

code {
    font-size: 11pt;
}

pre {
    margin-left: 1.1em;
    padding: .4em .4em .4em .8em;
    font-size: 10pt;
    background-color: #F5F5F5;
    border-radius: 0.5em;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

pre.rust {
    background-color: #F3F6FF;
}

a, a:visited, a:link {
    text-decoration: none;
    color: rgb(0, 105, 214);
}

h1 a:link, h1 a:visited, h2 a:link, h2 a:visited,
h3 a:link, h3 a:visited { color: black; }

/* Code highlighting */
.cm-s-default span.cm-keyword {color: #708;}
.cm-s-default span.cm-atom {color: #219;}
.cm-s-default span.cm-number {color: #164;}
.cm-s-default span.cm-def {color: #00f;}
.cm-s-default span.cm-variable {color: black;}
.cm-s-default span.cm-variable-2 {color: #05a;}
.cm-s-default span.cm-variable-3 {color: #085;}
.cm-s-default span.cm-property {color: black;}
.cm-s-default span.cm-operator {color: black;}
.cm-s-default span.cm-comment {color: #a50;}
.cm-s-default span.cm-string {color: #a11;}
.cm-s-default span.cm-string-2 {color: #f50;}
.cm-s-default span.cm-meta {color: #555;}
.cm-s-default span.cm-error {color: #f00;}
.cm-s-default span.cm-qualifier {color: #555;}
.cm-s-default span.cm-builtin {color: #30a;}
.cm-s-default span.cm-bracket {color: #cc7;}
.cm-s-default span.cm-tag {color: #170;}
.cm-s-default span.cm-attribute {color: #00c;}

#versioninfo {
  position: fixed;
  bottom: 0px;
  right: 0px;

  background-color: white;
  padding: 0.5em;
}

a.lessimportant {
  color: gray;
  font-size: 60%;
}

blockquote {
    color: black;
    border-left: solid 1px silver;
    margin: 1em;
    padding: 0.5em 1em 0.5em 1em;
}

/* Make the table under the tutorial's 'Types' section look nicer */
table {
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
    padding: 0.8em;
    font-size: smaller;
}
/* Also for the benefit of the type table */
td {
    padding-right: 1em;
}

/* Only display one level of hierarchy in the TOC */
#TOC ul ul {
    display: none;
}

#TOC ul {
    list-style: none;
    padding-left: 0px;
}

/* Adjust list alignment so rustdoc indexes don't align with blockquotes */
div.index ul {
    padding-left: 1em;
}

ul {
    margin-top: 0em
}

div.section.level3  {
    margin-left: 1.0em;
}
