CT_CONFIG_VERSION="4"
CT_PREFIX_DIR="/x-tools/${CT_TARGET}"
CT_USE_MIRROR=y
CT_MIRROR_BASE_URL="https://ci-mirrors.rust-lang.org/rustc"
CT_ARCH_MIPS=y
CT_ARCH_mips_o32=y
CT_ARCH_LE=y
CT_ARCH_ARCH="mips32r2"
CT_KERNEL_LINUX=y
CT_LINUX_V_4_4=y
CT_BINUTILS_V_2_32=y
CT_GLIBC_V_2_23=y
CT_GCC_V_8=y
CT_CC_GCC_EXTRA_CONFIG_ARRAY="--with-fp-32=xx --with-odd-spreg-32=no"
CT_CC_LANG_CXX=y
