#!/usr/bin/make -f

BUILD_DIR=build/dist

%:
	dh $@

override_dh_auto_configure:
	@if [ ! -d ${BUILD_DIR} ]; then \
		echo "rustc builds not exists"; \
		exit 1; \
	fi

override_dh_auto_clean:
	$(RM) -rfv rustc-1.19.0-dev-x86_64-unknown-linux-gnu
	$(RM) -rfv rust-std-1.19.0-dev-x86_64-unknown-linux-gnu

override_dh_auto_build:
	tar -xvf ${BUILD_DIR}/rustc-1.19.0-dev-x86_64-unknown-linux-gnu.tar.xz
	tar -xvf ${BUILD_DIR}/rust-std-1.19.0-dev-x86_64-unknown-linux-gnu.tar.xz
