use std;

mod bitv;
mod box;
mod comm;
mod deque;
mod either;
mod fs;
mod getopts;
mod int;
mod io;
mod ivec;
mod list;
mod map;
mod net;
mod option;
mod os;
mod path;
mod ptr;
mod qsort3;
mod qsort;
mod rand;
mod run;
mod sha1;
mod sort;
mod str_buf;
mod str;
mod task;
mod test;
mod uint;
mod vec_str_conversions;

// Local Variables:
// mode: rust
// fill-column: 78;
// indent-tabs-mode: nil
// c-basic-offset: 4
// buffer-file-coding-system: utf-8-unix
// compile-command: "make -k -C $RBUILD 2>&1 | sed -e 's/\\/x\\//x:\\//g'";
// End:
