<div id="versioninfo">
  <img src="https://www.rust-lang.org/logos/rust-logo-32x32-blk.png" width="32" height="32" alt="Rust logo"><br>
  <span class="white-sticker"><a href="https://www.rust-lang.org">Rust</a> VERSION</span><br>
  <a href="https://github.com/rust-lang/rust/commit/STAMP"
    class="hash white-sticker">SHORT_HASH</a>
</div>
