// -*- rust -*-

use std;

mod front {
    mod ast;
}

mod middle {
  mod ty;
}

mod driver {
  mod session;
}

mod glue {
  mod glue;
}

mod back {
    mod abi;
    mod x86;
}

mod util {
    mod common;
}


// Local Variables:
// fill-column: 78;
// indent-tabs-mode: nil
// c-basic-offset: 4
// buffer-file-coding-system: utf-8-unix
// compile-command: "make -k -C .. 2>&1 | sed -e 's/\\/x\\//x:\\//g'";
// End:
