
// -*- rust -*-

use std;

mod front {
    mod ast;
    mod lexer;
    mod parser;
    mod token;
}

mod middle {
    mod fold;
    mod resolve;
    mod trans;
    mod ty;
    mod typeck;
}

mod back {
    mod abi;
    mod x86;
}

mod driver {
    mod rustc;
    mod session;
}

mod util {
    mod common;
}

auth driver.rustc.main = impure;
auth middle.trans = unsafe;
auth lib.llvm = unsafe;


mod lib {
    alt (target_os) {
        case ("win32") {
            let (llvm_lib = "LLVM-2.8.dll") {
                mod llvm;
            }
        }
        case ("macos") {
            let (llvm_lib = "libLLVM-2.8svn.dylib") {
                mod llvm;
            }
        }
        else {
            let (llvm_lib = "libLLVM-2.8svn.so") {
                mod llvm;
            }
        }
    }
}

// Local Variables:
// fill-column: 78;
// indent-tabs-mode: nil
// c-basic-offset: 4
// buffer-file-coding-system: utf-8-unix
// compile-command: "make -k -C .. 2>&1 | sed -e 's/\\/x\\//x:\\//g'";
// End:
