target/
/dist/
**/*.rs.bk
**/*.rs.pending-snap
.idea/*
*.log
*.iml
.vscode/settings.json
.DS_Store
/out/
/dump.lsif
.envrc
docs/book/book
docs/book/src/assists_generated.md
docs/book/src/diagnostics_generated.md
docs/book/src/features_generated.md
