/*
This whole CSS file is used only in case rustdoc is rendered with javascript disabled. Since a lot
of content is hidden by default (depending on the settings too), we have to overwrite some of the
rules.
*/

#main > h2 + div, #main > h2 + h3, #main > h3 + div {
	display: block;
}

.loading-content {
	display: none;
}

#main > h2 + div, #main > h3 + div {
	display: block;
}

#main > h2 + h3 {
	display: flex;
}

#main .impl-items .hidden {
	display: block !important;
}

#main .impl-items h4.hidden {
	/* Without this rule, the version and the "[src]" span aren't on the same line as the header. */
	display: flex !important;
}

#main .attributes {
	/* Since there is no toggle (the "[-]") when JS is disabled, no need for this margin either. */
	margin-left: 0 !important;
}

#copy-path {
	/* It requires JS to work so no need to display it in this case. */
	display: none;
}
