/*
This whole CSS file is used only in case rustdoc is rendered with javascript disabled. Since a lot
of content is hidden by default (depending on the settings too), we have to overwrite some of the
rules.
*/

#main > h2 + div, #main > h2 + h3, #main > h3 + div {
	display: block;
}

.loading-content {
	display: none;
}

#main > h2 + div, #main > h3 + div {
	display: block;
}

#main > h2 + h3 {
	display: flex;
}

#main .impl-items .hidden {
	display: block !important;
}
