// -*- rust -*-

// cargo.rs - Rust package manager

// Local Variables:
// fill-column: 78;
// indent-tabs-mode: nil
// c-basic-offset: 4
// buffer-file-coding-system: utf-8-unix
// compile-command: "make -k -C $RBUILD 2>&1 | sed -e 's/\\/x\\//x:\\//g'";
// End:

#[link(name = "cargo",
       vers = "0.1",
       uuid = "9ff87a04-8fed-4295-9ff8-f99bb802650b",
       url = "http://rust-lang.org/doc/cargo")];

#[crate_type = "bin"];

mod pgp;
