#!/usr/bin/env ruby

compile '/static/*' do
end

compile '*' do
  filter :erb
  filter :kramdown, :toc_levels => [2]
  filter :colorize_syntax,
    :colorizers => {:javascript => :pygmentsrb}
  layout item[:layout] || 'default'
end

route '/static/*' do
  item.identifier[7..-2]
end

route '*' do
  item.identifier + 'index.html'
end

layout '*', :erb
