// -*- rust -*-

// serializer --- Rust metadata encoder/decoder generator.
//
// This tool is not intended to generate usable modules (just yet),
// though perhaps it will be beefed up.  But it can do a lot of the
// grunt work for you.

#[link(name = "serializer",
       vers = "0.1",
       uuid = "9ff87a04-8fed-4295-9ff8-f99bb802650b",
       url = "http://rust-lang.org/doc/serializer")];

#[crate_type = "bin"];

use std;
use rustc;
