:root {
	--main-background-color: white;
	--main-color: black;
	--settings-input-color: #2196f3;
	--sidebar-background-color: #F5F5F5;
	--sidebar-background-color-hover: #E0E0E0;
	--code-block-background-color: #F5F5F5;
	--scrollbar-track-background-color: #dcdcdc;
	--scrollbar-thumb-background-color: rgba(36, 37, 39, 0.6);
	--scrollbar-color: rgba(36, 37, 39, 0.6) #d9d9d9;
	--headings-border-bottom-color: #ddd;
	--border-color: #e0e0e0;
	--button-background-color: #fff;
	--right-side-color: grey;
	--code-attribute-color: #999;
	--toggles-color: #999;
	--search-input-focused-border-color: #66afe9;
	--copy-path-button-color: #999;
	--copy-path-img-filter: invert(50%);
	--copy-path-img-hover-filter: invert(35%);
	--codeblock-error-hover-color: rgb(255, 0, 0);
	--codeblock-error-color: rgba(255, 0, 0, .5);
	--codeblock-ignore-hover-color: rgb(255, 142, 0);
	--codeblock-ignore-color: rgba(255, 142, 0, .6);
	--type-link-color: #ad378a;
	--trait-link-color: #6e4fc9;
	--assoc-item-link-color: #3873ad;
	--function-link-color: #ad7c37;
	--macro-link-color: #068000;
	--keyword-link-color: #3873ad;
	--mod-link-color: #3873ad;
	--link-color: #3873ad;
	--sidebar-link-color: #356da4;
	--sidebar-current-link-background-color: #fff;
	--search-result-link-focus-background-color: #ccc;
	--search-result-border-color: #aaa3;
	--stab-background-color: #fff5d6;
	--stab-code-color: #000;
	--search-color: #000;
	--code-highlight-kw-color: #8959a8;
	--code-highlight-kw-2-color: #4271ae;
	--code-highlight-lifetime-color: #b76514;
	--code-highlight-prelude-color: #4271ae;
	--code-highlight-prelude-val-color: #c82829;
	--code-highlight-number-color: #718c00;
	--code-highlight-string-color: #718c00;
	--code-highlight-literal-color: #c82829;
	--code-highlight-attribute-color: #c82829;
	--code-highlight-self-color: #c82829;
	--code-highlight-macro-color: #3e999f;
	--code-highlight-question-mark-color: #ff9011;
	--code-highlight-comment-color: #8e908c;
	--code-highlight-doc-comment-color: #4d4d4c;
	--example-line-numbers-border-color: #c7c7c7;
	--src-line-numbers-span-color: #c67e2d;
	--src-line-number-highlighted-background-color: #fdffd3;
	--test-arrow-color: #f5f5f5;
	--test-arrow-background-color: rgba(78, 139, 202, 0.2);
	--test-arrow-hover-color: #f5f5f5;
	--test-arrow-hover-background-color: #4e8bca;
}

.slider {
	background-color: #ccc;
}
.slider:before {
	background-color: white;
}
input:focus + .slider {
	box-shadow: 0 0 0 2px #0a84ff, 0 0 0 6px rgba(10, 132, 255, 0.3);
}

.rust-logo {
	/* This rule exists to force other themes to explicitly style the logo.
	 * Rustdoc has a custom linter for this purpose.
	 */
}

.content .item-info::before { color: #ccc; }

body.source .example-wrap pre.rust a {
	background: #eee;
}

#crate-search-div::after {
	/* match border-color; uses https://codepen.io/sosuke/pen/Pjoqqp */
	filter: invert(100%) sepia(0%) saturate(4223%) hue-rotate(289deg) brightness(114%) contrast(76%);
}
#crate-search:hover, #crate-search:focus {
	border-color: #717171 !important;
}
#crate-search-div:hover::after, #crate-search-div:focus-within::after {
	filter: invert(44%) sepia(18%) saturate(23%) hue-rotate(317deg) brightness(96%) contrast(93%);
}

:target {
	background: #FDFFD3;
	border-right: 3px solid #AD7C37;
}

.search-failed a {
	color: #3873AD;
}

.tooltip::after {
	background-color: #000;
	color: #fff;
}

.tooltip::before {
	border-color: transparent black transparent transparent;
}

.notable-traits-tooltiptext {
	background-color: #eee;
}

#titles > button:not(.selected) {
	background-color: #e6e6e6;
	border-top-color: #e6e6e6;
}

#titles > button:hover, #titles > button.selected {
	background-color: #ffffff;
	border-top-color: #0089ff;
}

#titles > button > div.count {
	color: #888;
}

kbd {
	color: #000;
	background-color: #fafbfc;
	box-shadow: inset 0 -1px 0 #c6cbd1;
}

#settings-menu > a, #help-button > a {
	color: #000;
}

#settings-menu > a:hover, #settings-menu > a:focus,
#help-button > a:hover, #help-button > a:focus {
	border-color: #717171;
}

.search-results .result-name span.alias {
	color: #000;
}
.search-results .result-name span.grey {
	color: #999;
}

#source-sidebar div.files > a:hover, details.dir-entry summary:hover,
#source-sidebar div.files > a:focus, details.dir-entry summary:focus {
	background-color: #E0E0E0;
}
#source-sidebar div.files > a.selected {
	background-color: #fff;
}
.scraped-example-list .scrape-help {
	border-color: #555;
	color: #333;
}
.scraped-example-list .scrape-help:hover {
	border-color: black;
	color: black;
}
.scraped-example .example-wrap .rust span.highlight {
	background: #fcffd6;
}
.scraped-example .example-wrap .rust span.highlight.focus {
	background: #f6fdb0;
}
.scraped-example:not(.expanded) .code-wrapper:before {
	background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}
.scraped-example:not(.expanded) .code-wrapper:after {
	background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}
.toggle-line-inner {
	background: #ccc;
}
.toggle-line:hover .toggle-line-inner {
	background: #999;
}
