#[crate_type = "bin"];

use std;

mod procsrv;
mod util;
mod header;
mod runtest;
mod common;
mod errors;

// Local Variables:
// fill-column: 78;
// indent-tabs-mode: nil
// c-basic-offset: 4
// buffer-file-coding-system: utf-8-unix
// End:
