#[crate_type = "bin"];

#[no_core];
#[legacy_exports];

#[allow(vecs_implicitly_copyable)];
#[allow(non_camel_case_types)];

extern mod core(vers = "0.4");
extern mod std(vers = "0.4");

use core::*;

#[legacy_exports]
mod procsrv;
#[legacy_exports]
mod util;
#[legacy_exports]
mod header;
#[legacy_exports]
mod runtest;
#[legacy_exports]
mod common;
#[legacy_exports]
mod errors;

// Local Variables:
// fill-column: 78;
// indent-tabs-mode: nil
// c-basic-offset: 4
// buffer-file-coding-system: utf-8-unix
// End:
