* {
  margin: 0;
  padding: 0;

  font-family: Georgia, Palatino, serif;
}

body {
  background: #fff;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #f30;
}

a:hover {
  color: #f90;
}

.container {
  position: relative;
  width: 80%;
  margin: 40px auto;
}

.container h1 {
  color: #333;
  font-weight: normal;
  line-height: 40px;
  border-bottom: 2px dashed #eee;
  padding-bottom: 13px;
  letter-spacing: -1px;
}

.container .content h2 {
  font-size: 1.7rem;
  color: #000;
  font-weight: 500;
  margin: 40px 0 25px 0;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 16px;
}

.container p {
  font-size: 1.1rem;
  margin: 20px 0;
  line-height: 1.7;
}

.container ul, .container ol {
  margin: 20px;
}

.container li {
  font-size: 1rem;
  line-height: 1.6;
}

.container .content ul li {
  list-style-type: square;
}

.container .content {
  margin-left: 260px;
  min-width: 400px;
}

.sidebar {
  position: fixed;
  width: 200px;

  padding: 20px 20px 0 0;

  border-right: 1px solid #ccc;

  text-align: right;
}

.sidebar h2 {
  text-transform: uppercase;

  font-size: 1rem;

  color: #333;

  letter-spacing: 1px;

  line-height: 1.5;
}

.sidebar ul {
  list-style: none;

  margin: 20px 0;
}

.sidebar li {
  list-style: none;
  font-size: 1rem;
  line-height: 1.6;
}
